/*------------------------------------*\
#INPUTS
\*------------------------------------*/

%InputContainer {
    position: relative;
    padding: $safeArea;
}

.Input50 {
    @extend %InputContainer;
    width: 100%;
}

.Input100 {
    @extend %InputContainer;
    width: 100%;
}

.InputContent {
    position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


%input {
    position: relative;
    display: block;
    width: 100%;
    background: transparent;
    border-style: none;
    border-width: 0;
    border-bottom: $border;
    border-color: rgba($clrLight, 0.5);
    border-radius: 0;
    height: $safeArea*2;
    padding: 0;
    color: $clrLight;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: $fontM;

    &:focus {
        outline: 0;
        border-color: $clrLight;
    }

    //NOTE: these selectores can't be merge because of a Firefox bug ._.
    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        opacity: 0;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      opacity: 0;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
       opacity: 0;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        opacity: 0;
    }
}


.InputText,
.InputSelect {
    @extend %input;
}

.InputSelect {
    &:focus {
        color: $clrGrayDarker; //bug FF
    }
}

.LabelPlaceholder {
    position: absolute;
    top: $safeArea+$safeArea/4;
    left: $safeArea;
    font-size: inherit;
    color: $clrGrayLighter;
    transition: all $speed;
    z-index: 2;
}

.js-LabelPlaceholder-isActive {
    font-size: $fontXS;
    top: 0;
    color: $clrLight;
    font-weight: 100;
}


@include media(mobile) {
    .Input50 {
        width: 50%;
    }
}

// VALIDATIONS
// NOTE: some .js-* have !important to make sure it is set
.js-inputValidated {
    border-width: 2px !important;
    border-color: $clrLight !important;
}

.js-inputNotValidated {
    border-width: 2px !important;
    border-color:$clr-error !important;
}


.js-errorMandatory {
    font-size: $fontS;
    color: $clrPrimaryLightest;
    font-weight: 100;
    padding: 0 $safeArea $safeArea;
    line-height: $lineHeightM;
}
