/*------------------------------------*\
    ### VISITOR.SCSS ###

    css used on pages visited most
    for visitors (public pages)

    created by Sandrina Pereira
    * v0 27 may 2016

    >> TABLE OF CONTENTS
    > a template.scss must import:
        - _pages.scss - each page used by the template
        - any component used by the pages (atom, molecule or organism);
        NOTE: don't @import components on the pages to prevent duplicated imports.
        > # internal imports
        > # plugins imports
\*------------------------------------*/


/*------------------------------------*\
#IMPORTS
\*------------------------------------*/

@import "../00_atoms/_scss";
@import "../00_atoms/_reset";
@import "../00_atoms/_grid";
@import "../00_atoms/_typography.scss";
@import "../00_atoms/_buttons";
@import "../00_atoms/_helpers.scss";
@import "../00_atoms/_sprites.scss";
@import "../00_atoms/_inputs.scss";

@import "../01_molecules/_modals";
@import "../01_molecules/_forms";
@import "../01_molecules/_cards";

@import "../02_organisms/_navBar"; //TODO Better @media; only-[size]
@import "../02_organisms/_header"; //TODO Better @media;
@import "../02_organisms/_articles"; //TODO Better @media;
@import "../02_organisms/_footer";

@import "../03_pages/_homepage.scss";


/*------------------------------------*\
#OTHERS - PLUGINS, JS, etc..
\*------------------------------------*/
@import "../../plugins/jquery/autoComplete/jquery.auto-complete";
@import "../../plugins/jquery/jquery-pickmeup/css/_pickmeup";



/*------------------------------------*\
#VISITOR CSS
\*------------------------------------*/
    .VisitorContent {
        margin-bottom: rem(1); //NOTE: if 0, the child (articles) margin break the layout

        &--post {
            padding-top: $safeArea*4; // +/- after header
            @include calc(min-height, 100%, 100vh - #{$safeArea*11} );  // $safeArea*10 +/- FooterHeight

            .ArticleBg-title {
                padding-top: $safeArea*2;
            }
        }

        @include media(tablet) {
            @extend %contentWidth-tab;

            &--post {
                padding-bottom: $safeArea*7; // +/- cover footer height and not being on top
            }
        }


        @include media(laptop) {
            @extend %contentWidth-lap;
        }

    }



.NavBar,
.VisitorContent,
.Footer {
    // show page only when css is ready
    // to prevent possible delays with @media
    display: block !important;
}

body {
	animation: fadein 1250ms;
}

@keyframes fadein {
	0%  {opacity: 0;}
	25%  {opacity: 0;}
	100%  {opacity: 1;}
}
