$bus-width: $safeArea*5;

.Footer {
    position: relative;
    background: $clrSecondaryDark;
    padding: $safeArea/2 $safeArea;
    @include grid8Prop(padding-left, 1);
    @include grid8Prop(padding-right, 1);
    // min-height: $safeArea*4; //NOTE: design changed, to align with social footer;
    color: $clrSecondary;
    font-size: $fontXS;
    background-image: url('../../media/brand/bus.svg'); //YOLO no retina needed :D
    background-size: $bus-width auto;
    background-position: right $safeArea bottom $safeArea;
    background-repeat: no-repeat;

    a {
        color: $clrSecondaryLighter;
        font-size: inherit;
    }

    &:after {
        content: '';
        width: $bus-width + $safeArea;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background: $clrSecondaryDark;
        opacity: 0.5;
    }

    &-ul {

        &-li {
            padding: $safeArea/4 0;

            .break {
                margin-top: $safeArea;
            }
        }
    }

    .svgREbus {
        display: none;
    }
}


@include media(phablet) {
    .Footer {
        font-size: $fontS;
    }
}

@include media(tablet) {
    .Footer {
        @extend %contentWidth-tab;
        @include grid8Prop(padding-left,0.5);

        &-ul {
            @extend %cf-tab;

            &-li {
                width: auto;
                padding-right: $safeArea;

                &:first-child {
                    padding-top: $safeArea/4*3; //NOTE: align-items: baseline would be so much better;
                }

                &:last-child {
                    padding-right: 0;
                }



                // :not(:last-child) { // doesnt work, humm
                //     padding-right: $safeArea;
                // }
                .break {
                    margin-top: 0;
                }
            }
        }

        .svgREbus {
            display: block;
            width: 100px;
        }

        &--post {
            position: fixed;
            bottom: 0;
        }
    }
}

@include media(laptop) {
    .Footer {
        @extend %contentWidth-lap;
    }
}
