/*------------------------------------*\
#Header
\*------------------------------------*/

.Header {
    position: relative;
    height: 100vh;
    padding-top: $navbar-height;

    &-bg {
        position: absolute;
        top: $navbar-height;
        right: 0;
        @extend %col-3-8;
        @include calc(height, 100%, 100% - #{$navbar-height});
        @include bgImg2x('../../media/images/road-friends', jpg);
        background-position: 70% center;
        background-size: cover;
        opacity: 0.6;
        z-index: -1;
    }

    &-content {
        height: 100%;
        @extend %col-7-8;
        @extend %flexbox;
        flex-direction: column;
        justify-content: space-around;
        padding: 0 0 $safeArea;
        @include grid8Prop(padding-left, 1);

        @include noFlex {
            .f-h1,
            .button-cta-mobile {
                margin-top: $safeArea*4;
            }
        }
    }
}

@include media(phablet) {
    .Header {
        &-content {
            @extend %colPha-6-8;
        }
    }
}

@include media(tablet) {
    .Header {
        padding-top: 0;

        &-bg {
            top: 0;
            height: 100%;
            opacity: 0.8;
            @extend %colTab-2-8;
        }

        &-content {
            @extend %colTab-5-8;
            padding-top: 10%;
            justify-content: flex-start;

            @include noFlex {
                padding-top: rem(1); //NOTE: if 0, the child (title) margin breaks the layout
            }
        }
    }
}

@include media(laptop) {
    .Header {
        &-content {
            @extend %colLap-5-8;
            @include grid8Prop(padding-left, 1);
        }

        &-bg {
            @extend %colLap-2-8;
            opacity: 1;
        }
    }
}
