/*------------------------------------*\
#NavSide
\*------------------------------------*/
$borderNav: $border $clrGrayLighter;
$navBarWidth: 6;

.NavBar {
    position: fixed;
    @extend %col-8-8;
    height: $navbar-height;
    z-index: 9;
    background: $clrLight;

    &-nav {
        height: 100%;
        // @extend %flexbox; //FIXME: remove flexbox because FF bug...
        // justify-content: space-between;
        // align-items: center;
        padding: 0 $safeArea;
        border-bottom: $borderNav;

        // @include noFlex {
            padding-top: $safeArea/4*3;
        // };
    }

    &-logo {
        display: inline-block;
    }

    .button-closeNavBar {
        position: absolute;
        top: $safeArea;
        left: -$safeArea*2;
    }

    &-ul {
        background: $clrLight;
        position: fixed;
        height: 100%;
        top: 0;
        left: -100%;
        padding-bottom: $safeArea*4; // +/- footer height
        transition: left $speed/2*3;
        overflow: auto;

        &-liHeader {
            text-align: center;
            border-bottom: $borderNav;
            padding: $safeArea/2 $safeArea;

            min-height: $safeArea*4; //mobile

            li {
                display: inline-block;
            }
        }

        .button-register,
        .button-login {
            font-size: 1rem;
            padding: $safeArea/4*3 $safeArea/3*2 $safeArea/4*1;
        }

        &-liGroup {
            padding: $safeArea;
        }

        &-liFooter {
            position: fixed; //FIXME: on safari mobile doesn't show O.o
            z-index: 2;
            background: $clrLight;
            border-top: $borderNav;
            padding: $safeArea/2 $safeArea;
            bottom: 0;

            ul {
                @extend %flexbox-noFlex;
                justify-content: space-around;
            }

            a {
                padding: $safeArea/2;
                font-size: $fontL;
            }
        }
    }
}


.buttonNavbar {
    // @include noFlex {
        float: right;
    // }
}

.sr-buyTicket {
    position: fixed;
    top: 0;
    @include grid8Prop(left, 2);
    text-align: center;
    pointer-events: none;

    a {
        display: block;
        padding: $safeArea/2;
        font-size: inherit;
        opacity: 0;

        &:focus {
            opacity: 1;
        }
    }
}

.RELogoSvg {
    width: 100%;
    max-width: $safeArea*11;

    &-fill {
        fill: $clrSecondary;
        transition: fill $speed/2;

        .NavBar-logo:focus &,
        .NavBar-logo:hover & {
            fill: $clrPrimary;
        }
    }
}


// javascript manipulation
.js-isNavOpen {

    .NavBar-ul {
        left: 0;
        transition: left $speed/2*3;
    }

    .NavBar-ul,
    .NavBar-ul-liFooter {
        @include grid8Prop(width, $navBarWidth);
    }

    .NavBar-bg,
    .NavBar-close.fa {
        display: block;
    }

    @include media(mobile) {
        $navBarWidth-mob: 4;

        .NavBar-ul,
        .NavBar-ul-liFooter {
            @include grid8Prop(width, $navBarWidth-mob);
        }
    }

    @include media(phablet) {
        $navBarWidth-pha: 3;

        .NavBar-ul,
        .NavBar-ul-liFooter {
            @include grid8Prop(width, $navBarWidth-pha);
        }
    }
}


@include media(tablet) {
    %contentWidth-tab {
        @extend %colTab-6-8;
        @include grid8Prop(margin-left,2);
    }

    .NavBar {
        @extend %colTab-2-8;
        height: 100%;
        border-right: $borderNav;
        overflow: auto;

        &-nav {
            flex-direction: column;
            padding: 0;
            height: 100%;
        }

        &-logo {
            width: 100%;
            text-align: center;
            padding: $safeArea $safeArea 0 $safeArea;
        }

        &-ul {
            position: relative;
            left: auto;
            width: 100%;

            &-liFooter {
                @include grid8Prop(width, 2);
                border-right: $borderNav;
            }
        }
    }

    .buttonNavbar {
        display: none;
    }
}

@include media(laptop) {

    %contentWidth-lap {
        @include grid8Prop(width,7);
        @include grid8Prop(margin-left,1);
    }

    .NavBar {
        @include grid8Prop(width,1);
        font-size: $fontS;

        &-ul {
            width: 100%;

            .button-register,
            .button-login {
                font-size: inherit;
                padding: $safeArea/3;
            }

            .sr-buyTicket {
                @include grid8Prop(left, 1);
            }

            &-liHeader {
                padding: $safeArea/2 0;
                min-height: auto;
            }

            &-liFooter {
                @include grid8Prop(width,1);
            }
        }
    }
}


.NavBar-bg {
    display: none;
    @extend %BlockFullFixed;
    @extend %DialogBg;
}

.NavBar-close {
    position: fixed;
    z-index: 3;
    top: 0; right: 0;
    padding: $safeArea $safeArea/2*3;

    &.fa {
        color: white;
        font-size: $fontXL;
        display: none;
    }
}
