<footer class="Footer {{include.footerClass}}">
    <h2 class="sr-only">Cabeçalho</h2>
    <ul class="Footer-ul">
        <li class="Footer-ul-li">
            © Rede Expressos 2016
        </li>
        <li class="Footer-ul-li">
            <a id="other-links" href="#" class="link-simple">Termos e condições</a>
        </li>
        <li class="Footer-ul-li break">
            <a href="#" class="link-simple">Outros transportes</a>
        </li>
        <li class="Footer-ul-li">
            <a href="tel:707223344" class="link-simple">707 22 33 44</a>
        </li>
    </ul>
</footer>
