<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name='copyright' content='© Rede Expressos'>
  <meta name='language' content='PT'>

  <link rel="icon" type="image/png" href="/assets/media/brand/favicon16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/assets/media/brand/favicon32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/assets/media/brand/favicon180.png" sizes="180x180">

  <!-- <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}"> -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <style media="screen">
      .NavBar,
      .VisitorContent,
      .Footer {
          display: none;
      }
  </style>
</head>
