/*------------------------------------*\
#Cards
\*------------------------------------*/

.CardsDl {
    &-dd {
        padding: $safeArea 0 $safeArea;
        @include grid8Prop(padding-left, 1);

        a {
            display: block;
            width: 100%;

            &:hover {
                opacity: 0.8;
            }
        }

        [class^="imgBgCard"] {
            display: block;
            width: 100%;
            margin-bottom: $safeArea/2;
        }

        &-text {
            display: block;
            @include grid8Prop(padding-right,1);
            color: $clrPrimaryDarker;
        }
    }
}

%imgBgCard {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: $safeArea*10;
    transition: all $speed;
}


$imgBgCard: (surfFriends, 'friends-surf', png),
            (plainSky, 'plain-sky', png),
            (phoneHand, 'phone-hand', png),
            (girlStreet, 'girl-street', png);

@each $class, $url, $type in $imgBgCard {
    .imgBgCard-#{$class} {
        @extend %imgBgCard;
        background-image: url(../../media/images/#{$url}.#{$type});
        // @include bgImg2x('../../media/images/#{$url}', $type); // FIXME I need to find better photos
    }
}

@include media(phablet) {
    .CardsDl {
        @extend %flexbox-noFlex-pha;
        flex-wrap: wrap;
        &-dd {
            @extend %colPha-4-8;

            &-text {
                @include grid8Prop(padding-right,0.5);
            }
        }
    }
}

@include media(tablet) {
    .CardsDl {
        &-dd {
            @extend %colTab-3-8;
            @include grid8Prop(padding-left,0.5);
        }
    }
}

@include media(laptop) {
    .CardsDl {
        &-dd {
            @include grid8Prop(padding-left, 1);

            &-text {
                padding-right: 0;
            }
            // &:nth-of-type(2n+1) {
            //     @include grid8Prop(margin-left, 1);
            // }
        }
    }
}
