/*------------------------------------*\
#Modal
\*------------------------------------*/
.Modal {
    &-header {
        position: relative;
        width: 100%;
        padding: $safeArea;
        @extend %cf;

        &-title {
            font-size: $fontM;
            color: $clrLight;
        }

        button {
            margin-top: -$safeArea/2;
            margin-right: -$safeArea/2;
            float: right;
        }
    }

    &-bg {
        @extend %BlockFullFixed;
        @extend %DialogBg;
        z-index: 19;
    }
}


.js-isNoScroll {
    @extend %BlockFullFixed;
    overflow: hidden;
}
